*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* community screen styles */


.home{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}


.home .sidebar{
    width: 350px;
    height: 100%;
    background: var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .sidebar .logo{
    width: 100px;
    height: max-content;
    margin-top: 40px;
    margin-left: 20px;
}

.home .feed{
    width: calc(100% - 700px);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 60px;
    overflow-y: scroll;
    justify-content: flex-start;
    align-items: flex-start;
    -ms-overflow-style: none;  
    scrollbar-width: none;
}

.home .feed::-webkit-scrollbar {
    display: none;
}

.home .sidebar .head{
    color: var(--txtColor);
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 800;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .feed .head .title{
    width: 250px;
    height: max-content;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--txtColor);
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 800;
}   


.home .sidebar .menu{
    width: 100%;
    height: 70%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .sidebar .menu .menuItem{
    width: 90%;
    height: 60px;
    padding-left:40px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 10px 0;
    text-decoration: none;
    user-select: none;
    color: var(--txtColor);
}

.home .sidebar .menu .menuItem .txt{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    margin-left: 20px;
}

.selected{
    background-color: var(--main-theme);
    color:var(--black);
}



.home .feed .head{
    font-family: 'Montserrat';
    color: var(--txtColor);
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 1px;
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .feed .head .create{
    width: 100px;
    height: 40px;
    background: var(--main-theme);
    border-radius: 10px;
    outline: none;
    border: none;
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    font-family: 'Montserrat';
    cursor: pointer;
    font-weight: 600;
}

.home .feed .banner{
    width: 100%;
    height: max-content;
    background:var(--secondary);
    border-radius: 20px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.home .feed .bannerHead{
    color: var(--third);
    font-family: 'Montserrat';
    font-weight: 600
}

.home .feed .sub{
    color: var(--txtColor);
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 25px;
    margin-top: 20px;
}

.home .feed .banner .communityTags{
    width: max-content;
    height: max-content;
    display: flex;
    margin-top: 20px;
}

.home .feed .banner .communityTags .tag, 
.home .feed .banner .communityTags .tagEdit{
    width: max-content;
    height: max-content;
    padding: 10px 19px;
    background-color:var(--tag);
    border-radius: 50px;
    margin-right: 20px;
    color: var(--txtColor);
    font-size: 14px;
    font-family: 'Montserrat';
}

.home .feed .banner .communityTags .tagEdit{
    background-color: transparent;
    border: 2px dashed var(--third);
    cursor: pointer;
    user-select: none;
}

.feedArea{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.feedHead{
    color: var(--txtColor);
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 600;
    margin: 20px 0;
    margin-top: 40px;
}

.feedArea .feedBox{
    width: 100%;
    overflow: hidden;
    height: max-content;
    background:var(--secondary);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    margin: 20px 0;
}

.feedArea .feedBox .topbar{
    width: 100%;
    height: 90px;
    padding: 0 20px;
    display: flex;
    background:var(--secondary);
    align-items: center;

}



.feedArea .feedBox .topbar .dp{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 3px;
    border: 3px solid var(--main-theme);
}

.feedArea .feedBox .topbar .details{
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.feedArea .feedBox .topbar .details .name{
    color: var(--txtColor);
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-left: 20px;
}

.feedArea .feedBox .topbar .details .time{
    color: rgb(148, 148, 148);
    font-size: 13.5px;
    font-family: 'Montserrat';
    font-weight: 400;
    margin-top: 5px;
    margin-left: 20px;
}

.feedArea .feedBox .img{
    width: 95%;
    height: auto;
    border-radius: 10px;
}


.feedArea .feedBox .description{
    color: var(--txtColor);
    font-family: 'Montserrat';
    font-size: 15px;
    margin: 0 30px; 
    margin-bottom: 20px;
    line-height: 150%;
}

.feedArea .feedBox .ctaArea{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    padding: 0 25px;
    display: flex;
    align-items: center;
}

.feedArea .feedBox .ctaArea .cta{
    width: max-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--third);
    font-family: 'Montserrat';
    font-weight: 600;
    padding: 0 20px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 10px;
    user-select: none;
}


.home .feed .postSection{
    width: 100%;
    height: max-content;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.home .feed .postSection .post{
    width: 300px;
    height:max-content;
    border-radius: 10px;
    background:var(--secondary);
    margin-right: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}


.home .feed .postSection .post .img{
    width: 94%;
    height: 150px;
    border-radius: 10px;
    margin: 10px 0;
}

.home .feed .postSection .post .details{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin-top: 10px;
}

.home .feed .postSection .post .details .title{
    font-family:'Montserrat';
    font-size: 16px;
    font-weight: 600;
    color: var(--txtColor);
}

.home .feed .postSection .post .details .desc{
    font-family:'Montserrat';
    font-size: 13px;
    font-weight: 400;
    line-height: 135%;
    margin-top: 5px;
    color: var(--third)
}


.home .feed .postSection .post .details .btn{
    width: 100%;
    height: 45px;
    background-color: var(--main-theme);
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 15px;
    color: var(--white);
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid transparent;
}





/* right bar */

.bar{
    width: 400px;
    height: 100vh;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    overflow-y: scroll;
}

.bar::-webkit-scrollbar {
    width: 5px;
}
   
.bar::-webkit-scrollbar-track {
  background: rgb(20, 20, 20);
}
   
.bar::-webkit-scrollbar-thumb {
  background:var(--main-theme);
  border-radius:50px;
}


.bar .subHead{
    color: var(--txtColor);
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
}

.bar .posts{
    margin-top: 20px;
}

.account{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
    user-select: none;
    padding: 10px;
    border-radius: 10px;
}

.account .acImg{
    width: 40px;
    height:40px;
    border-radius: 50%;
    padding: 2px;
    border: 3px solid var(--main-theme);
}

.account .row{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
}

.account .details{
    width: max-content;
    height: max-content;
    color: var(--txtColor);
    font-family: 'Montserrat';
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.account .details .name{
    font-weight: 600;
}

.account .details .desc{
    font-size: 12px;
    width: 70%;
    word-wrap: break-word;
}

.account .pst{
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.bar .srch{
    width: 100%;
    height: 55px;
    border: none;
    background-color: var(--subSecondary);
    border-radius: 50px;
    padding: 0 15px;
    margin-top: 20px;
    outline: none;
    color: var(--txtColor);
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 30px;
}

.account .status{
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

.account .status .time{
    color: rgb(150, 150, 150);
    font-family: 'Montserrat';
    font-size: 11px;
}

.account .status .newMsg{
    width: 20px;
    height: 20px;
    background-color: var(--main-theme);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--txtColor);
    font-size: 12px;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-top: 15px;
}

.bar .account:hover{
    background-color: var(--subSecondary);
    cursor: pointer;
}

.home .chatBox{
    width: calc(100% - 700px);
    height: 100vh;
    /* padding: 40px; */
    border-right: 2px solid var(--subSecondary);
    border-left: 2px solid var(--subSecondary);
}

.home .chatBox .box{
    width: 100%;
    height: 100%;
    /* border-radius: 20px; */
    overflow: hidden;
    position: relative;
    padding: 0 20px;
    /* background-color: rgb(46, 46, 46); */
}


.home .chatBox .box .topbar{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 25px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--secondary);
}


.home .chatBox .box .topbar .group, 
.home .chatBox .box .topbar .details{
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--txtColor);
}

.home .chatBox .box .topbar .group .acImg{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.home .chatBox .box .topbar .details
{
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
    font-family: 'Montserrat';
    align-items: flex-start;
}

.home .chatBox .box .topbar .details .name{
    font-size: 17px;
    font-weight: 600;
}


.home .chatBox .box .topbar .details .status{
    font-size: 13px;
    color: var(--links);
    margin-top: 5px;
}


.home .chatBox .box .input{
    width: 97%;
    height: 60px;
    border-radius: 10px;
    background-color: var(--secondary);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translatex(-50%);
    overflow: hidden;
}


.home .chatBox .box .input .inp{
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0 20px;
    color: var(--txtColor);
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
}

.home .chatBox .box .input .extrabtns{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.home .chatBox .box .input .extrabtns .btn{
    width: 150px;
    height: 100%;
    color: var(--white);
    background-color: var(--main-theme);
    border:none;
    outline: none;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 17px;
}

.home .chatBox .box .mesgArea{
    width: 100%;
    height: calc(100% - 90px);
    overflow-y: scroll;
    justify-content: flex-end;
    padding-top: 90px;
}

.home .chatBox .box .mesgArea::-webkit-scrollbar {
    display: none;
}
   


.senderMsg, .recieverMsg{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: flex-end;
    margin: 10px 0;
    flex-direction: column;
}

.recieverMsg{
    align-items: flex-start;
}

.Smsg, .Rmsg{
    max-width: 300px;
    min-height:max-content;
    max-height:200px;
    padding: 15px 20px;
    background-color: var(--secondary);
    border-radius: 10px;
    border-top-right-radius: 0;
    color: var(--txtColor);
    font-family: 'Montserrat';
    margin-top: 5px;
    font-size: 15px;
    word-wrap: break-word;
}

.Rmsg{
    border-top-left-radius: 0;
    border-top-right-radius: 10px;

}

.profileArea{
    width: 50%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.recieverMsg .profileArea{
    justify-content: flex-start;
}

.profileArea .acImg{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.profileArea .details{
    width: max-content;
    height: max-content;
    color: var(--txtColor);
    text-align: right;
    margin-right: 10px;
    font-family: 'Montserrat';
}

.recieverMsg .profileArea .details{
    text-align: left;
    margin-left:10px;
}

.profileArea .details .username{
    font-size: 15px;
    font-weight: 600;
}

.profileArea .details .time{
    font-size: 12px;
    color: var(--third);
}

.asidebar, .adr, .asidebar .menu .ico{
    display: none;
}




@media only screen and (max-width: 1264px){
    .home{
        overflow: hidden;
    }
    .home .sidebar{
        display: none;
    }
    .asidebar{
        width: 100%;
        height: 80px;
        background: var(--secondary);
        position: absolute;
        display: flex;
        bottom: 0;
        left: 0;
        padding: 0 28px;
        z-index: 4;
    }

    .asidebar .menu{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .home .feed {
        width: 100%;
        padding: 30px 20px 70px 20px;
        overflow-y: scroll;
    }

    .home .feed .head {
        align-items: center;
        justify-content: center;
    }

    .home .feed .postSection{
        justify-content: center;
    }

    .bar{
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        display: none;
    }


    .home .feed .postSection .post{
        margin-right: 0;
    }
    .home .chatBox{
        width: 100%;
    }
    .home .chatBox .box .input{
        width: 95%;
        height: 54px;
        border-radius: 38px
    }
    .adr{
        display: block;
    }
    .pcr{
        display: none;
    }
    .adr .bar{
        display: flex;
    }
    .ico{
        display: block;
    }
    .home .chatBox .box .topbar .group .acImg{
        margin-left: 5px;
    }
    .home .feed .postSection .post {
        width: 90%;
    }
    
}