@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800;900&display=swap');


:root{
    --bgColor : #5882F9;
    --txtColor : #000;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing{
    width: 100%;
    height: max-content;
}


/* hero section styles */

.heroSection{
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    position: relative;
    overflow: hidden;
}

.heroSection .section{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroSection .section .head{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 100px;
    text-align: center;
}

.heroSection .section .subHead{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin: 30px 0;
}

.heroSection .section .cta{
    width: 230px;
    height: 50px;
    background-color: var(--bgColor);
    border: none;
    outline: none;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
}

.blur1, .blur2{
    width: max-content;
    height: max-content;
    position: absolute;
}

.blur1{
    left: 0;
    animation: blur 4s ease forwards;
}

@keyframes blur {
    0%{
        bottom: -200px;
    }100%{
        bottom: 0;
    }
}

.blur2{
    right: 0;
    animation: blur2 4s ease forwards;
}

@keyframes blur2 {
    0%{
        top: -200px;
    }100%{
        top: 0;
    }
}


/* banner section styles */

.bannerSection{
    width:'100%';
    height: 110vh;
    background: linear-gradient(150deg, rgba(112,0,255,1) 25%, rgba(96,0,221,0.4) 100%); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bannerSection .videoContainer{
    width: max-content;
    height: max-content;
    position: relative;
}

.video{
    width: 100%;
    box-shadow: 0 0 20px #02253965;
    height: auto;
    border-radius: 30px;
}

.playButton{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.459);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

.playButton .play{
    width: 100px;
    height: 100px;
    background-color: var(--bgColor);
    border-radius: 50%;
    box-shadow: 0 0 20px #4c68f6a2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playButton .play .playBtn{
    width: 40px;
    height: 50px;
    margin-left: 10px;
}

@keyframes fade {
    to{
        opacity: 0;
    }
}

.playButton .play .pauseBtn{
    width: 40px;
    height: 50px;
    animation: fade 1s ease forwards;
}

.subTxt{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 23px;
    color: #fff;
    width: 35%;
    line-height: 140%;
    margin-top: 40px;
    text-align: center;
}



/* extra details section */

.extraDetails{
    width: 100%;
    height: 60vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}



.extraDetails .blur3, .extraDetails .blur4{
    position: absolute;
    width: auto;
    height: 700px;
    filter: blur(30px);
}

.blur3{
    top: 0;
    left: 0;
}

.blur4{
    bottom: 0;
    right: 0;
}

.extraDetails .section{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    justify-content: center;
}

.extraDetails .section .head{
    font-weight: 800;
    font-size: 35px;
    width: 50%;
}

.extraDetails .section .sub{
    font-weight: 400;
    font-size: 25px;
    width: 70%;
}


.Csection{
    width: 100%;
    height: max-content;
    background-color:rgb(238, 238, 238);
    display: flex;
    justify-content: center;
}

.Csection .section{
    width: 70%;
    height: 100%;
    display: flex;
    padding: 50px 0;
    flex-direction: column;
}

.Csection .section .head{
    font-family: "Montserrat";
    color: #000;
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 30px;
}

.Csection .section .cardsection{
    width: 100%;
    height: max-content;
    white-space: nowrap;
    overflow-x:scroll;
    display: inline-block;
    display: -webkit-inline-box;
}

.Csection .section .cardsection::-webkit-scrollbar {
    display: none;
}
   



.Csection .section .cardsection .card{
    width: 400px;
    height: max-content;
    border-radius: 10px;
    background-color: white;
    margin-right: 20px;
    overflow: hidden;
    position: relative;
}

.Csection .section .cardsection .card .bg{
    width:100%;
    height:120px;
    background:rgb(248, 248, 248);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
}

.Csection .section .cardsection .card .bg .head, 
.Csection .section .cardsection .card .bg .sub{
    color: black;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0;
}

.Csection .section .cardsection .card .bg .sub{
    font-size: 13px;
    font-weight: 400;
    width: 100%;
    height: max-content;
    background-color: red;
    word-wrap: break-word;
}

.Csection .section .cardsection .card .bg .btn{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-top: 10px;
    background: #5882F9;
}

.Csection .section .cardsection .card .coverImg{
    width: 100%;
    height: 220px;
}


.faq, .mom{
    width: 100%;
    height: 70vh;
    background: linear-gradient(150deg, rgba(112,0,255,1) 25%, rgba(96,0,221,0.4) 100%); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.mom{
    background: white;
}

.faq .section, .mom .section{
    width: 70%;
    height: 80%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y:scroll ;
}

.faq .section::-webkit-scrollba{
    display: none;
}

.faq .section .head, 
.mom .section .head{
    width: 90%;
    height: 50px;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 20px;
}


.faqbox{
    width: 90%;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(238, 235, 235);
    padding: 0 20px;
    margin-bottom: 20px;
}

.faqbox .que{
    width: 100%;
    height: 60%;
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center
}

.faqbox .ans{
    width: 100%;
    height: 40%;
    font-family: "Montserrat";
    font-size: 13px;
    font-weight:400;
    display: flex;
    align-items: flex-start;
}

.mom .section{
    background-color: rgb(248, 248, 248);
}

.mom .section .reviews{
    width: 90%;
    height: max-content;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.rCard{
    width: 250px;
    height: max-content;
    background-color: rgb(232, 237, 248);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat';
    padding: 20px;
}
.rCard .dp{
    width: 80px;
    height:80px;
    margin: 20px 0;
    border-radius: 50%;
}

.rCard .name{
    font-size: 15px;
    color: black;
    font-weight: 600;
    margin-bottom: 10px;
}

.rCard .rew{
    font-size: 17px;
    color: rgb(34, 34, 34);
    font-weight: 400;
    text-align: center;
}

.footer{
    width:100%;
    height: 50vh;
    background-color: white;
}

@media only screen and (max-width: 1264px){
    .landing{
        overflow: hidden;
    }
    .heroSection .section{
        position: relative;
        z-index: 3;
    }
    .heroSection .section .head{
        font-size: 40px;
    }
    .heroSection .section .subHead{
        font-size: 15px;
    }
    .bannerSection{
        padding: 30px 0;
        justify-content: flex-start;
        height: max-content;
    }
    .video{
        height: 200px;
        border-radius:20px;
    }
    .playButton{
        border-radius: 20px;
    }

    .playButton .play{
        width: 50px;
        height: 50px;
    }
    .playButton .play .playBtn{
        width: 20px;
        height: 30px;
    }
    .subTxt{
        width: 90%;
    }
    .extraDetails .section .head{
        font-size: 25px;
        width: 70%;
        margin-bottom: 20px;
    }
    .extraDetails .section .sub{
        font-size: 15px;
        width: 70%;
    }
    .extraDetails .section{
        width: 50%;
        align-items: center;
    }
}